*{
  margin: 0;
  padding: 0;
}
.text1 {
  position: absolute;
  top: 10%;
  left: 40%;
  text-align: justify;
  width: 30%;
  height: 60%;
  border-radius: 23px;
  box-shadow: 0px 10px 35px grey;
  background-color: #d7d7d7;
  padding: 0% 5%;
}
.text2 {
  position: absolute;
  top: 70%;
  left: 40%;
  text-align: justify;
  width: 30%;
  height: 60%;
  border-radius: 23px;
  box-shadow: 0px 10px 35px grey;
  background-color: #d7d7d7;
  padding: 0% 5%;
}
.conteudo1{
  position: absolute;
}

  






